.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background: lightseagreen;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}