* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100%;
}

:root {
  --ghost: transparent;
  --bg-light: white;
  --bg-dark: #766F6F;
  --bg-light-header: lightseagreen;
  --bg-dark-header: #B26B20;
  --text-light:  #383B50;
  --text-dark:  white;
}