* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: var(--black);
  font-family: "Noto Sans KR", sans-serif;
  background: var(--white);
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  height: 100%;
}

:root {
  --black: #383B50;
  --white: white;
  --ghost: transparent;
  --header-back: lightseagreen;
}