.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: color 500ms linear, background 500ms linear;
}


.light {
  color: var(--text-light);
  background: var(--bg-light);
}

.dark {
  color: var(--text-dark);
  background: var(--bg-dark);
}